.list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 10px;
    padding-top: 20px;
}

.list-img {
    border: 2px #2323A1 solid;
    border-radius: 36px;
    width: 250px;
    height: 300px;
    object-fit: cover;
}

.search-add{
    display: flex;
}

.add-game{
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
      padding-right: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fb3108;
    padding-right: 40px;
    color: #fff;
}