.list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 10px;
    padding-top: 5vh;
}

.list-img {
    border: 2px #2323A1 solid;
    border-radius: 36px;
    width: 250px;
    height: 300px;
    object-fit: cover;
}