.container{
    display: flex;
}

.menu-div1{
    width: 50%;
    background-color: #070720;
    color: white;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    height: 100vh;
    margin-left: 50px;
}

.menu-div2{
    width: 50%;
    background-color: #070720;
    color: white;
}

.banner2 {
    width: 90%;
}

.section2 {
    background: white;
    width: 100%;
    padding-bottom: 50px;
}

.section2-text{
    padding: 2rem;
    display: grid;
    justify-content: center;
    text-align: center;
}

button {
    background-color: transparent;
    color: #fff; 
    border: 2px solid #fb3108; 
    border-radius: 5px;
    padding: 16px 32px;
    margin-right: 10px;
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #fb3108;; 
    box-shadow: 0 0 10px #fb3108;; 
}

.menu-button {
    margin-top: 2rem;
    display: flex;
}

.menu-div3{
    width: 50%;
    background-color: red;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.menu-div4{
    width: 50%;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 150px;
    padding-left: 20px;
}

.section3{
    display: flex;
}

.section4{
    display: flex;
}

.menu-div5{
    width: 50%;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    height: 150px;
    padding-right: 20px;
}

.menu-div6{
    width: 50%;
    background-color: purple;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.section5{
    display: flex;
}

.menu-div7{
    width: 50%;
    background-color: yellow;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.menu-div8{
    width: 50%;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 150px;
    padding-left: 20px;
}

.steps{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 70%;
    padding-bottom: 50px;
}

.box-steps {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding-bottom: 2rem;
}

.title-home{
    font-size: 90px;
    font-family: "Mont";
    /* margin-left: 150px; */
}

.subtitle-home{
    font-size: 25px;
    color: #fb3108;
}

.own{
    color: #fb3108;
}

.section2-sub{
    color: #fb3108;
}

.section2-sub2{
    color: #070720;
    font-size: 20px;
}