@media (max-width: 550px) {
    .submitbtn2{
        padding: 10px 20px;
        background-color: #070720;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        margin-top: 10px;
        width: 360px;
      }
    }