.titlecard{
    color: white;
}

.card{

  background: #ffffff;
  width: 400px;
  height: 450px;
  border-radius: 36px;
  display: flex;
  align-items: flex-end;
  opacity: 0.9;
  transition: 0.5s;
  border: 2px solid #2323A1;
  object-fit: cover;
}

.btn-details{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gamecard{
    display: flex;
}

.material-symbols-outlined {
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    background: rgb(255 255 255 / 80%);
    border-radius: 50%;
    font-size: 28px;
    
}

.description{
    color: white;
    font-size: 1.0rem;
}

.div-container1{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}

.div-container2{
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
    top: 20px;
}

.div-container3{
    width: 33%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loading{
    margin-top: 20px;
}

.comment-author{
    color: #fb3108;
}

.no-comments{
    background-color: #fb3108;
    height: 100px;
}

.text-padding{

    border-radius: 5px;
    width: 400px;
    height: auto;
    background-color: #2a2a58;;
    margin-top: 0.5rem;
    word-break: break-word;
    padding: 10px;
}

.backtotop{
    margin-right: 40px;
}

.add-game2{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 0;
    border: 0 none;
    background-image: url("/src/public/AddLibrary.png");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fb3108;
}

.test{
    position: sticky;
  top: 20px;
  overflow: hidden;  
}

.sticky {
    position: sticky;
    top: 20px;
    overflow: hidden;
}

@media (max-width: 1220px) {

    .card{
        position: relative;
        width: 350px;
        height: 400px;
    }

    .gamecard {
      flex-direction: column;
      align-items: center;
    }

    .div-container2{
        width: 80%;
        margin-top: 30px;
    }

    .div-container3{
        padding-top: 20px;
    }

    .titlecard{
        display: flex;
        align-items: center;
        /* justify-content: center; */
    }

    .button-back{
        margin-bottom: 25px;
    }
  }
  
  /* Estilos para largura de tela até 550px */
  @media screen and  (max-width: 700px) {

    .text-padding{
        border-radius: 5px;
        width: 350px;
        height: auto;
        background-color: #2a2a58;;
        margin-top: 0.5rem;
        word-break: break-word;
        padding: 10px;
    }

    .div-container3{
        margin-top: 0.4rem;
    }
  }
  
  /* Estilos para largura de tela até 400px */
  @media screen and (max-width:550px) {

    .text-padding{
        border-radius: 5px;
        width: 350px;
        height: auto;
        background-color: #2a2a58;;
        margin-top: 0.5rem;
        word-break: break-word;
        padding: 10px;
    }
    .div-container3{
        margin-top: 0.4rem;
    }
  }

  @media (max-width: 850px) {
    .container-add{
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border-radius: 5px;
        background-color: #2a2a58;
        color: white;
    }
    .div-container3{
        margin-top: 0.4rem;
    }
  }
  
  /* Estilos para largura de tela até 550px */
  @media (max-width: 550px) {
    .text-padding{
        border-radius: 5px;
        width: 400px;
        height: auto;
        background-color: #2a2a58;;
        margin-top: 0.5rem;
        word-break: break-word;
        padding: 10px;
    }
    .div-container3{
        margin-top: 0.4rem;
    }
  }
  
  /* Estilos para largura de tela até 400px */
  @media (max-width: 400px) {
    .text-padding{
        border-radius: 5px;
        width: 350px;
        height: auto;
        background-color: #2a2a58;;
        margin-top: 0.5rem;
        word-break: break-word;
        padding: 10px;
    }
    .container-add{
        max-width: 350px;
        margin: 0 auto;
        padding: 20px;
        border-radius: 5px;
        background-color: #2a2a58;
        color: white;
    }
    .div-container3{
        margin-top: 0.4rem;
    }
  
  }