.flex-center {
    display: flex;
    align-items: center;
}
.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.column {
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 8px; 
}

::-webkit-scrollbar-thumb {
    background-color:#fb3108; 
    border-radius: 10px; 
}