*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Mont";
    src: 
    local("Mont-HeavyDEMO")
    url("https://www.dafont.com/es/mont.font") format("truetype");
}

h1 {
    font-family: "Mont";
}

@font-face {
    font-family: "Paytone One";
    src: 
    local("PaytoneOne-Regular")
    url("https://fonts.gstatic.com/s/paytoneone/v23/0nksC9P7MfYHj2oFtYm2ChTigPvNiA.woff2") format('woff2')
    url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap") format("truetype");
}

h1 {
    font-family: "Paytone One";
} 

@font-face {
    font-family: "Chopin";
    src:
    local("Chopin-Light")
    url("https://www.dafont.com/es/chopin.font") format("truetype");
}

h3 {
    font-family: "Chopin";
}

p {
    font-family: "Chopin";
}

a {
    font-family: "Chopin";
}
